name: Build IzPack Installer

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          distribution: 'zulu'
          java-version: '1.7'

      - name: Create target directory
        run: mkdir -p target

      - name: Run Maven Clean Package with Debug Logging
        run: |
          set -o pipefail
          mvn clean package -X | tee build.log
        env:
          JAVA_HOME: /opt/hostedtoolcache/Java_Zulu-Hotspot_jdk/1.7.0-342/x64
          JAVA_HOME_1_7_X64: /opt/hostedtoolcache/Java_Zulu-Hotspot_jdk/1.7.0-342/x64

      - name: Upload Build Log
        uses: actions/upload-artifact@v4
        with:
          name: build-log
          path: build.log

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: izpack-installer
          path: installer/target/jcg-23-installer.jar
          if-no-files-found: error
