name: Build Custom IzPack Installer

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Java 1.8
      - name: Set up Java 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          
      # Step 3: Compile custom panels
      #- name: Compile custom panels
        #run: |
          #mkdir -p out
          #javac -d out -sourcepath src panels/src/main/java/com/izforge/izpack/panels/mypanels/*.java

      # Step 4: Install IzPack compiler
      - name: Download IzPack Compiler
        run: |
          curl -L -f -o izpack-compiler.jar \
          https://repo1.maven.org/maven2/org/izpack/izpack-standalone-compiler/5.2.3/izpack-standalone-compiler-5.2.3.jar
          file izpack-compiler.jar   test $(stat -c%s izpack-compiler.jar) -gt 4000000 || (echo "Download incomplete or invalid JAR"; exit 1)

      - name: Build Installer
        run: |
          java -jar izpack-compiler.jar install.xml -b . -o target/my-installer.jar -k standard

      # Step 5: Run IzPack Compiler
      - name: Build Installer
        run: |
          java -jar izpack-compiler.jar -b . -o installer.jar installer/src/main/izpack/Install.xml

      # Step 6: Upload the installer artifact
      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4

        with:
          name: custom-izpack-installer
          path: installer.jar
